@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 100% 99%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 243 75% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 173 80% 46%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 20%;
    --accent: 38 92% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 45%;
    --ring: 223 99% 82%;
    --chart-1: 243 75% 61%;
    --chart-2: 173 80% 46%;
    --chart-3: 38 92% 53%;
    --chart-4: 327 79% 63%;
    --chart-5: 142 64% 49%;
    --radius: 1rem;
    --sidebar-background: 228 100% 99%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 243 75% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 38 92% 53%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 223 99% 82%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 216 21% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 216 21% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 236 85% 77%;
    --primary-foreground: 0 0% 0%;
    --secondary: 172 65% 55%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 46 97% 64%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 89% 71%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 33%;
    --input: 0 0% 100%;
    --ring: 236 85% 77%;
    --chart-1: 236 85% 77%;
    --chart-2: 172 65% 55%;
    --chart-3: 46 97% 64%;
    --chart-4: 330 87% 72%;
    --chart-5: 147 50% 59%;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 236 85% 77%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 46 97% 64%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 236 85% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
}
